
body{

  background-color: #383838;

}

*{
  color: #D4D4D4;
}

h5{

  color: #3ED1D6;

}

.controls {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 0;
}

.controls button {
  width: 30px;
  height: 25px;
  border: none;
  outline: none;
}

.controls #minimize {
  background: url("../images/controls/minimize-window.svg");
}

.controls #minimize:hover {
  background: url("../images/controls/minimize-window-hover.svg");
}

.controls #minimize:active {
  background: url("../images/controls/minimize-window-active.svg");
}

.controls #close {
  background: url("../images/controls/close-window.svg");
}

.controls #close:hover {
  background: url("../images/controls/close-window-hover.svg");
}

.controls #close:active {
  background: url("../images/controls/close-window-active.svg");
}

.controls #refresh {
  background: url("../images/controls/refresh.svg");
}


.menuButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  background-color: #3ED1D6;
  border-color: #3ED1D6;
  color: #F2F2F2;
  transition: background-color 300ms ease-out;
  width: 170px; 
  height: 45px;
}

.menuButton:hover, .menuButton:focus {
  background-color: #30A2A6; 
}

.menuButton:hover, .menuButton:focus {
  color: #F2F2F2; 
}

.menuButton.disabled, .menuButton[disabled] {
  background-color: #2ba6cb;
  border-color: #2285a2;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.7; 
}

.menuButton.disabled:hover, .menuButton.disabled:focus, .menuButton[disabled]:hover, .menuButton[disabled]:focus {
  background-color: #2285a2; 
}

.menuButton.disabled:hover, .menuButton.disabled:focus, .menuButton[disabled]:hover, .menuButton[disabled]:focus {
  color: #FFFFFF; 
}
  
.menuButton.disabled:hover, .menuButton.disabled:focus, .menuButton[disabled]:hover, .menuButton[disabled]:focus {
  background-color: #2ba6cb; 
}

.result{

  /*margin-left: 10px;
  margin-top: 10px;*/

}