
.center{

  margin: 0 auto;
  text-align: center;
  vertical-align: middle;

}

.tile {

  border-radius: 2px;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover, auto;
  width: 200px;
  height: 100px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;

}

.tile:hover{
 
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.93);
  -moz-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.93);
  box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.93);
  cursor: pointer;
    
}

#resistorTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=R%C3%A9sistances&w=200&h=100);}
#capacitorTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=Condensateurs&w=200&h=100);}
#logicTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=Logique%20Binaire&w=200&h=100);}
#batteryTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=Batterie&w=200&h=100);}
#powerTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=%C3%89lectricit%C3%A9&w=200&h=100);}
#photovoltaicTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=Panneaux&w=200&h=100);}
#convertTile{background-image: url(http://placeholdit.imgix.net/~text?txtsize=33&txt=Conversions&w=200&h=100);}

